// ease out transition
@mixin easeOut {
  transition: all 0.5s ease-out;
}

// ease in transition
@mixin easeIn {
  transition: all 0.5s ease-in;
}

// background
@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba($color-black, $background-opacity);
      }
    }
  }
}
//set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}

// Media Query Mixins
// small screen
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}
// medium screen
@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}
// large screen
@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

// exrtra large screen
@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
