// Sass Variables

//colors
$color-light: #eeeeee;
$color-yellow: #f6e27f;
$color-red: #ff6b6b;
$color-lightgrey: #70707086;
$color-grey: #707070;
$color-dark: #292f36;
$color-black: #000500;

// Images
//background
$show-home-image: true;
$home-image: url(/img/background.jpg);
$background-opacity: 0.9;
